@model CvTemplate.Domain.Models.Entities.PersonalSetting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonalSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareerLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareerLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CvTemplateUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CvTemplateUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedByUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedByUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
