@model ResumeViewModel
@{
    ViewData["Title"] = "Resume";
    var index = 0;
}

<div id="resume">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">Bio & Skills</h5>
        <div class="bio-info padding-30">
            @Html.Raw(Model.Bio.Content)
            <div class="skills">
                @foreach (var item in Enum.GetValues<SkillType>())
                {

                    @if (Model.JobCategories.Where(x => x.SkillType.ToString() == item.ToString()).ToList().Count >= 1)
                    {
                        <h5 class="margin-top-30">@item</h5>
                    }


                    foreach (var category in Model.JobCategories)
                    {
                        <div class="panel-group accordion" id="accordion-@index">
                            <h6>
                                @if (category.SkillType == item)
                                {
                                    @category.Name
                                }
                            </h6>
                            @foreach (var skill in Model.Skills)
                            {

                                if (category.SkillType == item && skill.JobCategoryId == category.Id && skill.IsBar == false)
                                {
                                    <div class="panel panel-default">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- PANEL HEADING -->
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-@index" class="collapsed" href="#collapseOne-@index"> @skill.Name</a> </h4>
                                                </div>
                                            </div>

                                            <!-- Skillls Bars -->
                                            <div class="col-sm-8">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100" style="width: @skill.Level%;"> <span class="sr-only">@skill.Level% Complete</span> </div>
                                                </div>

                                                <!-- Skillls Text -->
                                                <div id="collapseOne-@index" class="panel-collapse collapse">
                                                    @{index++; }
                                                    <div class="panel-body">
                                                        <p>@skill.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if(category.SkillType == item && skill.JobCategoryId == category.Id && skill.IsBar == true) 
                                { 
                                    <div class="ethical">
                                        <a href="#.">@skill.Name</a>
                                    </div>
                                    
                                }
                            }
                        </div>
                    }

                }

            </div>
        </div>
    </div>

    <!-- Professional Experience -->
    <div class="inside-sec margin-top-30">
        <!-- Professional Experience -->
        <h5 class="tittle">Professional Experience</h5>
        <div class="padding-30 exp-history">

            <!-- Wordpress Developer -->


            @foreach (var item in Model.Experiences)
            {
                <div class="exp">
                    <div class="media-left"> <span class="sun">@item.StartingDate.ToString("M.yyyy") - @item.EndingDate.ToString("M.yyyy")</span> </div>
                    <div class="media-body">

                        <!-- COmpany Logo -->
                        <div class="company-logo"> <img src="~/uploads/images/@item.ImageUrl" alt=""> </div>
                        <h6>@item.Name</h6>
                        <p>@item.Job</p>
                        <p>@item.Location</p>
                        <p class="margin-top-10">@item.Details</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Academic Background -->
    <div class="inside-sec margin-top-30">
        <!-- Academic Background -->
        <h5 class="tittle">Academic Background</h5>
        <div class="padding-30 exp-history">
            @foreach (var item in Model.AcademicBackGrounds)
            {
                <div class="exp">
                    <div class="media-left"> <span class="sun">@item.StartingDate.ToString("M.yyyy") - @item.EndingDate.ToString("M.yyyy")</span> </div>
                    <div class="media-body">
                        <!-- COmpany Logo -->
                        <div class="company-logo">
                            <img src="~/uploads/images/@item.ImageUrl" alt="">
                            <span class="diploma"><i class="fa fa-graduation-cap"></i> Download Diploma</span>
                        </div>
                        <h6>@item.Name</h6>
                        <p>@item.Qualification, @item.University</p>
                        <p>@item.Degree</p>
                        <p class="margin-top-10">@item.Details</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

