@model UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <h1>PersonalSetting Edit</h1>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailConfirmed" class="control-label"></label>
                        <input asp-for="EmailConfirmed" class="form-control" />
                        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                    </div>
                    <div style="margin-bottom:30px;">
                        <div>
                            <div class="tab-control" role="tabcontrol">
                                <div class="tab-page" id="roles" aria-title="Rollar" selected>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="max-width:100%;">

                                                </th>
                                                <th scope="col">
                                                    Name
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Tuple<int, string, bool> item in ViewBag.Roles)
                                            {
                                                <tr>
                                                    <th scope="row">
                                                        <input type="checkbox" data-role-id="@item.Item1"
                                                               data-user-id="@Model.Id"
                                                               @(item.Item3 ? "checked" : "") />

                                                    </th>
                                                    <th>
                                                        @item.Item2
                                                    </th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-page" id="principals" aria-title="Selahiyyetler">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="max-width:100%;" class="table-row-select">

                                                </th>
                                                <th scope="col">
                                                    Name
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Tuple<string, bool> item in ViewBag.Principals)
                                            {
                                                <tr>
                                                    <td scope="row" class="table-row-select">
                                                        <input type="checkbox" data-principal-name="@item.Item1"
                                                               data-user-id="@Model.Id"
                                                               @(item.Item2 ? "checked" : "") />

                                                    </td>
                                                    <td>
                                                        @item.Item1
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section addcss{
    <link href="~/libs/tab-control/tab-control.css" rel="stylesheet" />
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
<style>
    input[type="checkbox"]:checked:after {
        display:none;
    }
</style>
}

@section addjs{
    <script src="~/libs/tab-control/tab-control.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

    $(document).ready(function () {
        $('input[type="checkbox"][data-role-id]').change(function (e) {
            let obj = $(e.currentTarget).data();
            obj.selected = $(e.currentTarget).is(":checked");

            $.ajax({
                type: "post",
                url: '@Url.Action("SetRole")',
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (response) {
                    if (response.error == false) {
                        toastr.success(response.message, "Ugurludur!");
                    }
                    else {
                        toastr.warning(response.message, "Xeta!");
                        $(e.currentTarget).prop("checked", !obj.selected);
                    }
                },
                error: function (response) {

                }

            });
        })

        $('input[type="checkbox"][data-principal-name]').change(function (e) {
            let obj = $(e.currentTarget).data();
            obj.selected = $(e.currentTarget).is(":checked");

            $.ajax({
                type: "post",
                url: '@Url.Action("SetPrincipal")',
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (response) {
                    if (response.error == false) {
                        toastr.success(response.message, "Ugurludur!");
                    }
                    else {
                        toastr.warning(response.message, "Xeta!");
                        $(e.currentTarget).prop("checked", !obj.selected);
                    }
                },
                error: function (response) {

                }

            });
        })
    })
    </script>
}


